/*======= Font Family==================*/
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

/*======= reset =======================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*======= variaveis =======================*/
:root{
  --black: hsl(240,6%,13%);
  --grey: hsl(240, 9%, 89%);
  --purple: hsl(280, 100%, 25%);
}

/*===  layout ============================ */
html, 
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-image:  linear-gradient(rgb(173, 21, 243), rgb(2, 0, 0))
}

body {
display: grid;
place-items: center;
font-family: 'Zen Kurenaido', sans-serif;;
}

main {
  background: url(img/background.svg) no-repeat center;
  width: 100vw;
  height: 100vh;
}

.container{
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}

.avatar{
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span{
position: absolute;
top: -15px;
z-index: 1;
}

.avatar > img{
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
font-size: 1.5rem;
margin-top: 1.5rem;
}


a {
color: var(--grey);
text-decoration: none;
margin-top: 0.25rem;
display: flex;
gap: 0.75rem;
justify-content: center;
align-items: center;
}


p {
  margin-top: 2rem;
}


ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

/*======= efeitos =======================*/
h1:hover {
  color: var(--purple);
  transition: all 0.7s ease-in-out;
}

/*======= media queries =======================*/

/* celular  */
@media (min-width: 425px){
  main {
    background: url(img/background.svg) no-repeat center;
    width: 100vw;
    min-height: 425px;
    height: 100vh;
  }
  
}

/* tablet  */
@media (min-width: 768px){
  main {
    background: url(img/background.svg) no-repeat center;
    width: 100vw;
    min-height: 768px;
    height: 100vh;
  }
  
}
